html,
body {
    font-family: Roboto, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

#mdxLogo {
    width: 16.5%;
    height: 100%;
    padding: 0;
    float: left;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
}

#mdxLogo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#buildingName {
    height: 100%;
    padding: 0;
    background-color: blue;
    padding-left: 40px;
    color: white;
    white-space: nowrap;
    font-size: 3em;
    font-weight: 400;
}

#buildingList {
    width: 33.33%;
    height: 100%;
    float: left;
    background-color: yellow;
    overflow-y: scroll;
    overflow: hidden;
}

#buildingDetails {
    width: 66.66%;
    height: 100%;
    float: right;
    background-color: red;
    overflow-y: scroll;
    overflow: hidden;
}

#buildingDescription {
    width: 100%;
    height: 50%;
    background-color: #f7f8f9;
    position: relative;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1em;
    font-weight: normal;
    line-height: 20px;
}

#buildingDescription p {
    background-color: #f7f8f9;
    padding: 14px 40px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

#buildingImageDiv {
    width: 100%;
    height: 50%;
    background-color: greenyellow;
}

#buildingImageDiv img {
    width: 100%;
    height: 100%;
}

#map {
    height: 100%;
    width: 100%;
    background-color: blanchedalmond;
}

.buildingItem {
    height: 24px;
    margin-top: 8px;
    margin-bottom: 6px;
}

.buildingItem p {
    font-size: 1em;
    max-width: calc(100% - 26px);
    white-space: nowrap;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    cursor: pointer;
}

.iframeHeader {
    width: 100%;
    height: 33.333%;
    background-color: aliceblue;
}

.iframeDescription {
    width: 50%;
    height: 66.666%;
    float: left;
    background-color: aqua;
}

.iframeMap {
    width: 50%;
    height: 66.666%;
    background-color: bisque;
    float: right;
}

.selected {
    background-color: bisque;
    padding: 10px;
    margin: 0;
}
